extends ../shared/template
block content

  h2 Add a Vacation
  .row
    .col-xs-4
      form.form-horizontal(role='form', method='post', action='/vacations')
        input#lat(type='hidden', name='lat')
        input#lng(type='hidden', name='lng')
        .form-group
          label(for='name') Destination
          input.form-control#name(type='text', name='name', auto-focus=true)
        .form-group
          label(for='start') Start Date
          input.form-control#start(type='date', name='start', placeholder='mm/dd/yyy')
        .form-group
          label(for='end') End Date
          input.form-control#end(type='date', name='end', placeholder='mm/dd/yyyy')
        button.btn.btn-primary(type='submit') Save
    .col-xs-8

block scripts
  script(src='/js/user/newVacation.js')
